<!DOCTYPE html>
<head>
  <script src="controller.js"></script>
  <title>Popup</title>
</head>
<body>
<form>
<!--<form action="submitPage">-->
<div class="modal-title" id="modal-title">
<label for="items">Please select the item you want to edit</label>
  <select name="items" id="items">
    <option ng-bind="repo.id">id: {{repo.id}} </option>
    <option ng-bind="repo.title">title: {{repo.title}}</option>
    <option ng-bind="repo.author">author: {{repo.author}}</option>
  </select>
  </div>
    <div class="modal-body" id="modal-body" >
      Please input content you want to edit here:
<input type="text" name="update" maxlength="20" minlength="1">
    </div>
</form>
</body>
<div class="modal-footer">
  <button class="btn btn-warning" type="button" ng-click="$scope.cancel()">Cancel</button>
  <button class="btn btn-primary" type="submit" ng-click="$scope.submit()">Submit</button>
</div>