.repo {
}
.repo input {
}

.repo h2{
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  justify-content: center
}

#displayRight{
  display: flex;
  float:right;
  margin-bottom: 15px;
  margin-right: 20px;

}