.repo {
}
.repo input {
}

.repo h2{
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  justify-content: center
}

#displayRight{
  display: flex;
  float:right;
  margin-bottom: 15px;
  margin-right: 20px;

}

#bg-color-red{
background-color: red;
  color: white;
 }

#bg-color-orange{
  background-color: orange;
  color: white;
}

#bg-color-grey{
  background-color: grey;
  color: white;
}

#bg-color-green{
  background-color: green ;
  color: white;
}
